<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/work.css" %}">
    <title>{{ work.heading }}</title>
</head>
<body>
    <header>
        <div class="box">
            <a href="/"><div class="header-block">Главная</div></a>
            <a href="/lk"><div class="header-block">ЛК</div></a>
        </div>
    </header>

    <div class="body">
        <div class="wrapper">
            <div class="img">
                {% if work.photo %}
                    <img src="/media/{{ work.photo }}" alt="">
                {% else %}
                    <img src="{% static "img/fon.jpg" %}" alt="">
                {% endif %}
            </div>

            <div class="h1-wrapper">
                <h1 class="body-title">{{ work.heading }}</h1>
            </div>

            <h2 style="text-align: left; padding-left: 50px;">Анотация</h2>
            <p class="p-annotation">{{ work.annotation }}</p>

            <div class="sep">
                <div class="video-block">
                    {% if is_video %}
                        <video class="video" src="/media/{{ work.file }}" width="400" height="200" controls></video>
                        <a href="/media/{{ work.file }}" target="_blank"><div class="download-file">Скачать</div></a>
                    {% else %}
                        <a href="/media/{{ work.file }}" target="_blank"><div class="download-file">Скачать материал</div></a>
                    {% endif %}

                </div>

                <div class="text">
                    <div class="side-info">
                        <div class="side-info-wrapper">
                            <h2 class="theme">Тема: {{ work.topic }}</h2>
                            <div class="members">
                                <h3>Авторы:</h3>
                                <div class="member">{{ work.main_author.fio }}</div>
                                {% for coauthor in coauthors %}
                                <div class="member">{{ coauthor }}</div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h2>Оцените работу: </h2>
                    <div class="raiting">
                        {% if voute %}
                            <form action="" method="post">
                        {% else %}
                            <form action="">
                        {% endif %}
                            {% csrf_token %}
                            <div class="r"><button type="submit" name="1" style="background-color: {{ c.1}};">1</button></div>
                            <div class="r"><button type="submit" name="2" style="background-color: {{ c.2 }};">2</button></div>
                            <div class="r"><button type="submit" name="3" style="background-color: {{ c.3 }};">3</button></div>
                            <div class="r"><button type="submit" name="4" style="background-color: {{ c.4 }};">4</button></div>
                            <div class="r"><button type="submit" name="5" style="background-color: {{ c.5 }};">5</button></div>
                            <div class="r"><button type="submit" name="6" style="background-color: {{ c.6 }};">6</button></div>
                            <div class="r"><button type="submit" name="7" style="background-color: {{ c.7 }};">7</button></div>
                            <div class="r"><button type="submit" name="8" style="background-color: {{ c.8 }};">8</button></div>
                            <div class="r"><button type="submit" name="9" style="background-color: {{ c.9 }};">9</button></div>
                            <div class="r"><button type="submit" name="10" style="background-color: {{ c.10 }};">10</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>